{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu sitio</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <header class="custom-header">
        <!-- Logo -->
        <a class="custom-logo" href="{% url 'home' %}">
            <img src="{% static 'path_to_profile_icon' %}" alt="Home" width="25">
        </a>
        
        <!-- Barra de búsqueda -->
        <form class="custom-search">
            <input class="custom-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="custom-search-btn" type="submit">Search</button>
        </form>

        <!-- Botones de perfil, notificaciones, carrito y mensajes -->
        <div class="custom-nav-links">
            <a class="nav-link" href="{% url 'notifications' %}">
                <img src="{% static 'path_to_notifications_icon' %}" alt="Notificaciones" width="25">
            </a>
            <a class="nav-link" href="{% url 'messages' %}">
                <img src="{% static 'path_to_messages_icon' %}" alt="Mensajes" width="25">
            </a>
            <a class="nav-link" href="{% url 'cart' %}">
                <img src="{% static 'path_to_cart_icon' %}" alt="Carrito" width="25">
            </a>
            <a class="nav-link" href="{% url 'profile' %}">
                <img src="{% static 'path_to_profile_icon' %}" alt="Perfil" width="25">
            </a>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Puedes agregar contenido de pie de página aquí si lo deseas -->
    </footer>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqDEfMz4+6TW7tTlOBD8+YmXkHs4CkOFoIF4yowUpGyxq" crossorigin="anonymous"></script>
</body>
</html>
