
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">

{% block content %}
<div class="centrar-contenido">
    
    <form method="post">
        <h2>Login</h2>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="register-button" type="submit">Login</button>
    </form>
</div>

<style>
    .centrar-contenido {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el contenido verticalmente */
        align-items: center; /* Centra el contenido horizontalmente */
        min-height: 100vh; /* Altura mínima del 100% de la pantalla */

        /* Estilos adicionales según sea necesario */
    }
    /* Reutiliza los mismos estilos del formulario de registro */
    .centrar-contenido form {
        background-color: rgb(39, 39, 39); 
        color: white; 
        padding: 20px;
        border: 1px solid white; 
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        width: 100%;
        max-width: 400px; 
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .errorlist {
        font-size: 0.8em;
        color: red;
        margin-top: 5px;
    }

    .centrar-contenido form p {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    form p .helptext {
        font-size: 0.8em;
        color: #ccc;
        display: block;
        margin-top: 5px;
    }

    .register-button {
        font-size: 1.1em;
        padding: 12px 20px;
    }

    .centrar-contenido form label {
        margin-bottom: 5px;
    }
</style>
{% endblock %}

