
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block content %}
<h2>Your saved content</h2>
<div class="centrar-contenido">
    {% if saved_items %}
        {% for item in saved_items %}
            {% if item.content_type.model == "post" %}
                {% with post=item.content_object %}
                <div class="post-item">
                    <p>
                        Published by:
                        <span class="custom-link" data-url="{% url 'profile' post.user.username %}">{{ post.user.username }}</span>
                        on
                        <span class="custom-link" data-url="{% url 'view_community' post.community.name %}">{{ post.community.name }}</span>
                    </p>
                    <a href="{% url 'post_detail' post.id %}" class="post-link">
                        <h3 id="post-title-{{ post.id }}">{{ post.title }}</h3>
                        <div class="media-container">
                            {% if post.media_file %}
                                {% if post.media_file.url|lower|endswith:".mp4" or post.media_file.url|lower|endswith:".webm" %}
                                    <video controls id="post-video-{{ post.id }}" class="post-media">
                                        <source src="{{ post.media_file.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                    <img src="{{ post.media_file.url }}" alt="Media file" class="post-image" id="post-image-{{ post.id }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <p id="post-content-{{ post.id }}" class="post-description">{{ post.content|linebreaks }}</p>
                    </a>
                    <div class="post-separator"></div>
                    <div class="post-actions">
                        <p class="comment-count">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</p>
                        <a href="#" data-post-id="{{ post.id }}" class="like-button post-like">
                            {% if post.is_liked %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </a> 
                        <span id="like-count-{{ post.id }}" class="like-count">{{ post.likes_count }} Like{{ post.likes_count|pluralize }}</span>
                        <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button post-save">
                            Unsave
                        </button> 
                    </div>
                </div>
                {% endwith %}
                {% elif item.content_type.model == "crowdfundingcampaign" %}
                {% with campaign=item.content_object %}
                <div class="campaign-item">
                    <p>
                        Campaign created by:
                        <span class="custom-link" data-url="{% url 'profile' campaign.creator.username %}">{{ campaign.creator.username }}</span>
                    </p>
                    <div class="content-container"> <!-- Contenedor para título y descripción -->
                        <a href="{% url 'view_campaign_detail' campaign.id %}" class="post-link">
                            <h3 class="campaign-title">{{ campaign.title }}</h3>
                            <p class="campaign-description">{{ campaign.description }}</p>
                        </a>
                    </div>
                    <div class="post-separator"></div>
                    <div class="campaign-actions">
                        <div class="action-items"> <!-- Contenedor para alinear elementos de acción -->
                            <p class="comment-count">{{ campaign.comments.count }} Comment{{ campaign.comments.count|pluralize }}</p>
                            <a href="#" data-campaign-id="{{ campaign.id }}" class="like-button campaign-like">
                                {% if campaign.is_liked %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </a>
                            <span class="like-count">{{ campaign.likes_count }} Like{{ campaign.likes_count|pluralize }}</span>
                            <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button campaign-save">
                                Unsave
                            </button>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% elif item.content_type.model == "resource" %}
                {% with resource=item.content_object %}
                <div class="resource-item">
                    <p>
                        Resource provided by:
                        <span class="custom-link" data-url="{% url 'profile' resource.creator.username %}">{{ resource.provider.username }}</span>
                    </p>
                    <div class="content-container"> <!-- Contenedor para título y descripción -->
                        <a href="{% url 'view_resource_detail' resource.id %}" class="post-link">
                            <h3 class="resource-title">{{ resource.title }}</h3>
                            <p class="resource-description">{{ resource.description }}</p>
                        </a>
                    </div>
                    <div class="post-separator"></div>
                    <div class="resource-actions">
                        <div class="action-items"> <!-- Contenedor para alinear elementos de acción -->
                            <p class="comment-count">{{ resource.comments.count }} Comment{{ resource.comments.count|pluralize }}</p>
                            <a href="#" data-resource-id="{{ resource.id }}" class="like-button resource-like">
                                {% if resource.is_liked %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </a>
                            <span class="like-count">{{ resource.likes_count }} Like{{ resource.likes_count|pluralize }}</span>
                            <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button resource-save">
                                Unsave
                            </button>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{{ profile_user.username }} hasn't saved any content yet.</p>
        {% endif %}
    </div>
   



<script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.custom-link').forEach(function(span) {
        span.addEventListener('click', function() {
            window.location.href = span.getAttribute('data-url');
        });
    });
});
</script>


<style>
.centrar-contenido .post-item .post-actions button,
.centrar-contenido .campaign-item .campaign-actions button,
.centrar-contenido .resource-item .resource-actions button,
.centrar-contenido .post-item .post-actions .like-button,
.centrar-contenido .campaign-item .campaign-actions .like-button,
.centrar-contenido .resource-item .resource-actions .like-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgb(234, 216, 127);
    color: #000000;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 150px;
    border-radius: 0;
}

.custom-link {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
}

.post-link, .campaign-link, .resource-link {
    border-radius: 0;
    text-decoration: none;
    background-color: #808080;
    color: #1d1d1d;
}

.post-link:hover, .campaign-link:hover, .resource-link:hover {
    text-decoration: none;
}

.post-item .post-link h3, .campaign-item .campaign-link h3, .resource-item .resource-link h3,
.post-item .post-link p, .campaign-item .campaign-link p, .resource-item .resource-link p,
.post-item .post-link img, .campaign-item .campaign-link img, .resource-item .resource-link img {
    color: #1c1c1c;
    text-decoration: none;
    text-align: left;
}

.post-item .post-link:hover h3, .campaign-item .campaign-link:hover h3, .resource-item .resource-link:hover h3,
.post-item .post-link:hover p, .campaign-item .campaign-link:hover p, .resource-item .resource-link:hover p,
.post-item .post-link:hover img, .campaign-item .campaign-link:hover img, .resource-item .resource-link:hover img {
    color: inherit;
    text-decoration: none;
}

.post-item .post-link, .campaign-item .campaign-link, .resource-item .resource-link {
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto;
}

.edit-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.post-item .save-button, .campaign-item .save-button, .resource-item .save-button,
.post-item .like-button, .campaign-item .like-button, .resource-item .like-button {
    color: white;
    padding: 10px 20px;
    background-color: rgb(234, 127, 127);
    text-decoration: none;
    border: 1px solid #ffffff;
    margin-bottom: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el contenedor de contenido que incluye título, descripción y medios */
.content-container {
    margin-bottom: 15px; /* Ajuste el espaciado según sea necesario */
    border: 1px solid white;
    padding: 10px;
}

/* Estilos para asegurarse de que los botones y contadores estén en la misma línea */
.campaign-actions .action-items, .resource-actions .action-items {
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espacio entre elementos, ajústalo según sea necesario */
}

/* Si los contadores de comentarios ya tienen una clase definida, ajústalos para que coincidan con los nuevos estilos */
.comment-count {
    margin: 0; /* Elimina márgenes por defecto si los hay */
    flex-shrink: 0; /* Evita que el elemento se encoja */
}

/* Para los botones y contadores de 'like' y 'save' */
.like-button, .like-count, .save-button {
    flex-shrink: 0; /* Evita que estos elementos se encojan */
}

/* Asegúrate de que los enlaces dentro del contenedor de contenido no ocupen todo el bloque si no es necesario */
.post-link {
    display: inline-block; /* O 'inline-flex' si necesitas más control sobre los elementos internos */
    text-decoration: none; /* Elimina el subrayado de los enlaces, si se prefiere */
}

/* Puedes necesitar ajustar el estilo de los títulos y descripciones si quieres un formato específico */
.campaign-title, .resource-title {
    margin: 0 0 5px 0; /* Ajusta los márgenes según sea necesario */
    font-size: 1.2em; /* Ajusta el tamaño de fuente según sea necesario */
}

.campaign-description, .resource-description {
    margin: 0; /* Elimina los márgenes por defecto */
    font-size: 1em; /* Ajusta el tamaño de fuente según sea necesario */
}


.post-item .save-button:hover, .campaign-item .save-button:hover, .resource-item .save-button:hover,
.post-item .like-button:hover, .campaign-item .like-button:hover, .resource-item .like-button:hover {
    background-color: rgb(234, 127, 127);
    color: #000000;
}
.cancel-button {
    color: white;
    background-color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    border: 1px solid #ffffff;
    margin-bottom: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #000000;
}

.btn {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid #ffffff;
    margin-bottom: 2px;
}

.btn:hover,
.btn.selected {
    background-color: rgb(234, 216, 127);
    color: #000000;
    text-decoration: none;
}

.link-blanco { 
    color: white;
    text-decoration: none;
} 

.link-blanco:hover {
    color: white;
    text-decoration: underline;
}

.preview-image {
    max-width: 100px;
}

.centrar-contenido {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.centrar-contenido .post-item .post-link, 
.centrar-contenido .campaign-item .campaign-link, 
.centrar-contenido .resource-item .resource-link {
    border-radius: 5px;
    text-align: left;
}

.centrar-contenido .post-item,
.centrar-contenido .campaign-item,
.centrar-contenido .resource-item {
    background-color: #808080; 
    padding: 20px;
    border: 1px solid white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: calc((400px * 2) + 20px);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.centrar-contenido .post-separator,
.centrar-contenido .campaign-separator,
.centrar-contenido .resource-separator {
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.centrar-contenido .post-actions,
.centrar-contenido .campaign-actions,
.centrar-contenido .resource-actions {
    position: relative;
}

.more-options-container {
    position: relative;
    display: inline-block;
}

.options-container {
    position: absolute;
    width: 144px;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #808080; 
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.edit-button, .delete-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-button {
    background-color: rgb(234, 216, 127);
}

.delete-button {
    background-color: rgb(234, 127, 127);
}

.edit-button:hover, .delete-button:hover {
    background-color: rgb(234, 127, 127);
}

.media-thumbnail {
    width: 200px;
    height: auto;
}

.edit-post-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}


.centrar-contenido .post-separator, .centrar-contenido .campaign-separator, .centrar-contenido .resource-separator {
    border-bottom: 1px solid white;
    margin: 10px 0;
}

/* ... continue with the rest of the provided styles ... */




</style>

{% endblock %}
