


{% block content %}
<div style="text-align:center;">
    <p class="profile-description">
        This is where you'll find your posts, crowdfunding campaigns, and resources. It's your personal space for all your activity on the app.
    </p>
</div>

<style>

.profile-description {
            margin-top: 20px; /* Ajusta según sea necesario */
            color: #666; /* Ajusta el color del texto según sea necesario */
            font-size: 0.9em; /* Ajusta el tamaño de la fuente según sea necesario */
            max-width: 600px; /* Ajusta según sea necesario */
            margin-left: auto;
            margin-right: auto; /* Centra el bloque de texto */
            text-align: center; /* Asegura que el texto está centrado dentro del bloque */
        }


</style>
{% endblock %}