
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% block content %}
<br>
<br>
<h2 class="estilo-titulo">Saved content</h2>

<div class="centrar-contenido">
    {% if saved_items %}
        {% for item in saved_items %}
            {% if item.content_type.model == "post" %}
                {% with post=item.content_object %}
                <div class="post-item">
                    <p>
                        Published by:
                        <span class="custom-link" data-url="{% url 'profile' post.user.username %}">{{ post.user.username }}</span>
                        on
                        <span class="custom-link" data-url="{% url 'view_community' post.community.name %}">{{ post.community.name }}</span>
                    </p>
                    <a href="{% url 'post_detail' post.id %}" class="post-link">
                        <h3 id="post-title-{{ post.id }}">{{ post.title }}</h3>
                        <div class="media-container">
                            {% if post.media_file %}
                                {% if post.media_file.url|lower|endswith:".mp4" or post.media_file.url|lower|endswith:".webm" %}
                                    <video controls id="post-video-{{ post.id }}" class="post-media">
                                        <source src="{{ post.media_file.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                    <img src="{{ post.media_file.url }}" alt="Media file" class="post-image" id="post-image-{{ post.id }}">
                                {% endif %}
                            {% endif %}
                        </div>
                        <p id="post-content-{{ post.id }}" class="post-description">{{ post.content|linebreaks }}</p>
                    </a>
                    <div class="post-separator"></div>
                    <div class="post-actions">
                        <p class="comment-count">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</p>
                        <button data-post-id="{{ post.id }}" class="like-button save-button">
                            {% if post.is_liked %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                        
                        <span id="like-count-{{ post.id }}" class="like-count">{{ post.likes_count }} Like{{ post.likes_count|pluralize }}</span>
                        <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button post-save">
                            Unsave
                        </button> 
                    </div>
                </div>
                {% endwith %}
                {% elif item.content_type.model == "crowdfundingcampaign" %}
                {% with campaign=item.content_object %}
                <div class="campaign-item">
                    <p>
                        Campaign created by:
                        <span class="custom-link" data-url="{% url 'profile' campaign.creator.username %}">{{ campaign.creator.username }}</span>
                    </p>
                    <div class="content-container"> <!-- Contenedor para título y descripción -->
                        <a href="{% url 'view_campaign_detail' campaign.id %}" class="post-link">
                            <h3 class="campaign-title">{{ campaign.title }}</h3>
                            <p class="campaign-description">{{ campaign.description }}</p>
                        </a>
                    </div>
                    <div class="post-separator"></div>
                    <div class="campaign-actions">
                        <div class="action-items"> <!-- Contenedor para alinear elementos de acción -->
                            <p class="comment-count">{{ campaign.comments.count }} Comment{{ campaign.comments.count|pluralize }}</p>
                            <button data-post-id="{{ post.id }}" class="like-button save-button">
                                {% if post.is_liked %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                            
                            <span class="like-count">{{ campaign.likes_count }} Like{{ campaign.likes_count|pluralize }}</span>
                            <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button campaign-save">
                                Unsave
                            </button>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% elif item.content_type.model == "resource" %}
                {% with resource=item.content_object %}
                <div class="resource-item">
                    <p>
                        Resource provided by:
                        <span class="custom-link" data-url="{% url 'profile' resource.creator.username %}">{{ resource.provider.username }}</span>
                    </p>
                    <div class="content-container"> <!-- Contenedor para título y descripción -->
                        <a href="{% url 'view_resource_detail' resource.id %}" class="post-link">
                            <h3 class="resource-title">{{ resource.title }}</h3>
                            <p class="resource-description">{{ resource.description }}</p>
                        </a>
                    </div>
                    <div class="post-separator"></div>
                    <div class="resource-actions">
                        <div class="action-items"> <!-- Contenedor para alinear elementos de acción -->
                            <p class="comment-count">{{ resource.comments.count }} Comment{{ resource.comments.count|pluralize }}</p>
                            <button data-post-id="{{ post.id }}" class="like-button save-button">
                                {% if post.is_liked %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                            
                            <span class="like-count">{{ resource.likes_count }} Like{{ resource.likes_count|pluralize }}</span>
                            <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button resource-save">
                                Unsave
                            </button>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>{{ profile_user.username }} hasn't saved any content yet.</p>
        {% endif %}
        {% if saved_trials %}
        {% for item in saved_trials %}
            {% with trial=item.content_object %}
                <article class="hc-post">
                    <!-- Comunidad -->
                    {% if trial.communities.all %}
                        <div class="hc-author-info">
                            Communities:
                            {% for community in trial.communities.all %}
                                <a href="{% url 'view_community' community.name %}" class="hc-link-blanco">{{ community.name }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <!-- Contenido del Trial -->
                    <div class="hc-content-box">
                        <a href="{% url 'view_trial_detail' trial.id %}" class="hc-post-link">
                            <h3 id="hc-trial-title-{{ trial.id }}">{{ trial.title }}</h3>
                            <p>{{ trial.description|truncatechars:200 }}</p>

                            <!-- Archivo multimedia -->
                            {% if trial.media_file %}
                                {% if trial.media_file.url|lower|endswith:".mp4" or trial.media_file.url|lower|endswith:".webm" %}
                                    <video controls id="hc-trial-file-{{ trial.id }}">
                                        <source src="{{ trial.media_file.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                    <img src="{{ trial.media_file.url }}" alt="Media file" class="hc-media-thumbnail" id="hc-trial-file-{{ trial.id }}">
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>

                    <!-- Botones de acción -->
                    <div class="hc-post-actions">
                        <p class="hc-comment-count">{{ trial.comments.count }} Comment{{ trial.comments.count|pluralize }}</p>
                        <button onclick="window.location.href='{% url 'view_trial_detail' trial.id %}';" class="save-button hc-comment-btn">
                            Comments
                        </button>
                        <button id="shareButton" data-id="{{ trial.id }}" class="save-button">Share</button>
                        <button data-content-type="{{ item.content_type.model }}" data-content-id="{{ item.object_id }}" class="save-button trial-save"> Unsave</button>
                        <button onclick="location.href='{% url 'donate_view' trial.id %}'" class="hc-donate-btn">Donate</button>

                    </div>
                </article>

                <br><br>
            {% endwith %}
        {% endfor %}
    {% else %}
        <p>No saved trials available.</p>
    {% endif %}
    </div>
   





    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM completamente cargado y analizado.");
            let buttons = document.querySelectorAll('.community-button');
            console.log(`Encontrados ${buttons.length} botones de la comunidad.`);
            let highlight = document.querySelector('.highlight-line');
            
            buttons.forEach(function(button, index) {
                console.log(`Añadiendo manejador de eventos al botón ${index} (${button.textContent.trim()})`);
                button.addEventListener('click', function(e) {
                    e.preventDefault();
            
                    let buttonRect = button.getBoundingClientRect();
                    let containerRect = highlight.parentElement.getBoundingClientRect();
                    highlight.style.left = (buttonRect.left - containerRect.left + window.pageXOffset) + "px";
                    console.log(`Botón ${button.dataset.btn} clickeado. Resaltado movido.`);
            
                    if (button.dataset.btn === 'saved') {
                        console.log("Haciendo llamada AJAX para cargar contenido guardado.");
                        $.ajax({
                            url: '{% url "saved_content" username=profile_user.username %}',
                            method: 'GET',
                            success: function(data) {
                                console.log("Contenido guardado cargado exitosamente.");
                                document.getElementById('saved-results').innerHTML = data;
                                setUpSaveButtonListeners(); 
                                showResults('saved-results');
                            },
                            error: function(err) {
                                console.error("Error al cargar el contenido guardado:", err);
                            }
                        });
                    } else {
                        showResults(button.dataset.btn + '-results');
                    }
                });
            });
            
            showResults('posts-results');
        });
        
        function showResults(resultType) {
            console.log(`Mostrando resultados para: ${resultType}`);
            let allResults = document.querySelectorAll('.results-container');
            allResults.forEach(result => result.style.display = 'none');
            document.getElementById(resultType).style.display = 'block';
        }
        
        function setUpSaveButtonListeners() {
    const saveButtons = document.querySelectorAll('.save-button');
    console.log(`Configurando manejadores de eventos para ${saveButtons.length} botones de Unsave.`);
    
    if (saveButtons.length === 0) {
        console.error("No se encontraron botones de Unsave.");
        return;
    }

    saveButtons.forEach((button, index) => {
        console.log(`Configurando botón Unsave ${index}`);
        button.addEventListener('click', function(e) {
            e.preventDefault();
            let contentType = this.dataset.contentType;
            let contentId = this.dataset.contentId;
            console.log(`Botón Unsave clickeado: Tipo de contenido - ${contentType}, ID - ${contentId}`);
            toggleSavedContent(contentType, contentId, this);
        });
    });
}

        function toggleSavedContent(contentType, contentId, button) {
            console.log(`Enviando solicitud AJAX para cambiar estado del contenido: Tipo - ${contentType}, ID - ${contentId}`);
            var url = `/${contentType}/${contentId}/save/`;

            $.ajax({
                url: url,
                method: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                
                success: function(response) {
                    console.log('Respuesta del servidor recibida:', response);
                    if (response.saved === false) {
    console.log('Contenido no guardado. Actualizando UI.');
    // Elimina el contenedor del elemento específico
    if (contentType === 'trial') {
        button.closest('.hc-post').remove();
    } else if (contentType === 'resource') {
        button.closest('.resource-item').remove();
    } else if (contentType === 'crowdfundingcampaign') {
        button.closest('.campaign-item').remove();
    } else if (contentType === 'post') {
        button.closest('.post-item').remove();
    }
} else {
    console.log('Contenido guardado.');
}

                },
                error: function(err) {
                    console.error('Error al cambiar el estado de guardado del contenido:', err);
                }
            });
        }
    </script>
    


<!-- Botón Compartir (Share) -->
<script>
    document.addEventListener('click', function(e) {
        // Verificamos si el elemento clickeado es el botón 'shareButton'
        if (e.target.id === 'shareButton') {
            const trialId = e.target.getAttribute('data-id');
            const urlToCopy = window.location.origin + '/trials/' + trialId + '/';
            
            // Crear un input temporal para copiar el texto
            const tempInput = document.createElement('input');
            tempInput.value = urlToCopy;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            // Mostrar un mensaje de confirmación
            alert('Link copied to clipboard!');
        }
    });
</script>


<style>

.estilo-titulo {
    grid-column: span 3;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5px;
}

/* Estilos Generales */
.post-item, .campaign-item, .resource-item, .hc-post {
    background-color: rgb(39, 39, 39);
    margin: 40px 0;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc((400px * 2) + 20px);
    border: 1px solid white;
    box-sizing: border-box;
}

.content-container, .hc-content-box {
    margin-bottom: 15px;
    border: 1px solid white;
    padding: 10px;
}

.post-link, .campaign-link, .resource-link, .hc-post-link {
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto;
    text-decoration: none;
    border-radius: 0;
    background-color: #808080;
    color: #1d1d1d;
}

.post-separator, .campaign-separator, .resource-separator, .hc-post-separator {
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.custom-link, .link-blanco {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.custom-link:hover, .link-blanco:hover {
    text-decoration: none;
}

/* Botones de Acción */
.save-button, .like-button, .hc-save-btn, .hc-like-button, .hc-more-options-button, .cancel-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(39, 39, 39);
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 130px;
    border-radius: 0;
    text-align: center;
    margin: 0 10px;
    background-color: rgb(234, 216, 127);
}

.save-button:hover, .like-button:hover, .hc-save-btn:hover, .hc-like-button:hover, .hc-more-options-button:hover, .cancel-button:hover {
    background-color: rgb(234, 127, 127);
}

/* Estilos para Contenedores de Acción */
.post-actions, .campaign-actions, .resource-actions, .hc-post-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
}

.hc-donate-button {
    background-color: rgb(97, 171, 128);
    color: white;
    padding: 15px;
    width: 150px;
    border-radius: 0;
    transition: background-color 0.3s;
}

.hc-donate-button:hover {
    background-color: darkblue;
}

/* Media Thumbnails */
.hc-media-thumbnail, .media-thumbnail {
    max-height: 200px;
    width: auto;
}

/* Edit Buttons Container */
.edit-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

/* More Options */
.more-options-container {
    position: relative;
    display: inline-block;
}

.hc-author-info {
    margin-bottom: 1rem; /* Añade un margen inferior de 1 rem */
    /* Asegúrate de incluir cualquier otro estilo que ya esté aplicado a esta clase */
}

.options-container {
    position: absolute;
    width: 144px;
    top: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #808080; 
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
}

.edit-button, .delete-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-button {
    background-color: rgb(234, 216, 127);
}

.delete-button {
    background-color: rgb(234, 127, 127);
}

.edit-button:hover, .delete-button:hover {
    background-color: rgb(234, 127, 127);
}

.campaign-actions .action-items {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho posible */
}

.hc-donate-btn {
    background-color: #3c7248; /* Color verde para el botón Donate */
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 150px;
    border-radius: 0;
    text-align: center;
    margin: 0 10px;
}

.hc-donate-btn:hover {
    background-color: #000000; /* Un verde más oscuro para el hover */
    color: white
}


.hc-comment-count {
    margin: 0; /* Remueve cualquier margen adicional */
    padding: 10px 0; /* Añade padding si es necesario para alinear */
}

.hc-post-actions .trial-save,
.hc-post-actions #shareButton,
.hc-post-actions .hc-comment-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s;
}
.hc-post-actions .hc-donate-btn {
    background-color: rgb(97, 171, 128); /* Color verde */
    border: 1px solid white;
    color: white;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s;
}
.hc-post-actions .trial-save:hover,
.hc-post-actions #shareButton:hover,
.hc-post-actions .hc-comment-btn:hover,
.hc-post-actions .hc-donate-btn:hover {
    background-color: white; /* Fondo blanco en hover */
    color: black; /* Texto negro en hover */
    /* ...otros estilos de hover si es necesario... */
}


</style>

{% endblock %}
