{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">



{% block content %}
<div class="centrar-contenido">
    <h2> Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>
</div>

<style>
/* Estilos generales */
.centrar-contenido {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana. */
}

.centrar-contenido h2 {
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #808080; /* Color gris para que coincida con el fondo del formulario */
}

/* Estilos del formulario */
.centrar-contenido form {
    background-color: #808080; 
    padding: 20px;
    border: 1px solid white; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

.centrar-contenido form button {
    display: block; 
    margin: 10px auto; 
    padding: 10px 20px;
    background-color:  rgb(234, 216, 127); 
    color: #000000; 
    border: 1px solid white; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.centrar-contenido form button:hover {
    background-color: rgb(234, 127, 127); 
}

/* Estiliza los campos del formulario generados por Django */
.centrar-contenido form p {
    margin-bottom: 15px; /* Espacio entre los campos */
}

.centrar-contenido form label {
    display: block; /* Asegura que las etiquetas estén sobre los campos */
    margin-bottom: 5px; /* Espacio entre etiqueta y campo */
}




</style>

{% endblock %}
