{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">



{% block content %}
<div class="centrar-contenido">
    
    <form method="post">
        <h2> Sign Up</h2>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="register-button" type="submit">Register</button>
    </form>
</div>



<style>
    /* Estilos del formulario */
    .centrar-contenido form {
        background-color: rgb(39, 39, 39); 
        color: white; 
        padding: 20px;
        border: 1px solid white; 
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        width: 100%;
        max-width: 400px; 
        box-sizing: border-box;
        display: flex;
        flex-direction: column; /* Asegura que los campos estén alineados verticalmente */
    }

    /* Estilos para los mensajes de error de Django */
    .errorlist {
        font-size: 0.8em; /* Reduce el tamaño de la fuente de los mensajes de error */
        color: red;
        margin-top: 5px; /* Añade espacio entre el campo de entrada y el mensaje de error */
    }

    /* Estilos para los campos del formulario */
    .centrar-contenido form p {
        display: flex;
        flex-direction: column; /* Asegura que los elementos dentro del párrafo estén alineados verticalmente */
        margin-bottom: 15px; /* Espacio entre los campos */
    }

    form p .helptext {
        font-size: 0.8em; /* Tamaño más pequeño para el texto de ayuda */
        color: #ccc; /* Cambiar el color si es necesario */
        display: block; /* Hace que el texto comience en una nueva línea */
        margin-top: 5px; /* Espacio arriba del mensaje */
    }

    .register-button {
        font-size: 1.1em; /* Tamaño de la fuente más grande */
        padding: 12px 20px; /* Ajustar el padding si es necesario */
    }

    .centrar-contenido form label {
        margin-bottom: 5px; /* Espacio de 5px debajo del texto de la etiqueta */
    }
</style>

{% endblock %}
