{% extends 'base_user.html' %}
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>






{% block content %}


<br>
<br>
<br>
<br>


<div class="community-header" data-community-name="{{ community.name }}">
    <h2>{{ community.name }}</h2>
    <button class="notification-btn">
        <i class="fas fa-bell notification-icon"></i>
    </button>
    <!-- Asegúrate de que 'community' sea el objeto de la comunidad actual en tu contexto -->
    <button class="join-btn" onclick="window.location.href='{% url 'join_chat_group' chat_group_id=community.chat_group.id %}'">Group Chat</button>

</div>

<style>
    .notification-icon {
    color: #808080; /* Color inicial del ícono. Puedes ajustarlo según tus preferencias. */
    font-size: 20px; /* Tamaño del ícono. Ajusta según necesidad. */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el ícono. */
    transition: color 0.3s; /* Efecto de transición suave al cambiar de color. */
}

.notification-btn:focus .notification-icon,
.notification-icon:active {
    color: rgb(234, 216, 127); /* Cambia a este color cuando se haga clic en el ícono. */
}

.notification-btn {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el padding, si es necesario */
    outline: none; /* Elimina el outline al hacer foco, si es necesario */
}

.community-header {
    display: flex;           /* Activa flexbox */
    align-items: center;     /* Alinea todos los elementos hijos verticalmente al centro */
    justify-content: center;  /* Los elementos hijos comienzan al principio del contenedor */
    gap: 10px;               /* Espacio entre elementos hijos (opcional, según tu diseño) */
}

.join-btn {
    background-color: #808080; /* Color de fondo gris */
    border: 1px solid white; /* Borde blanco de 1 pixel */
    border-radius: 15px; /* Esquinas redondeadas */
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espacio alrededor del texto del botón */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el ícono */
    transition: background-color 0.3s; /* Efecto de transición suave al cambiar de color de fondo */
}

.join-btn:hover {
    background-color: rgb(234, 216, 127); /* Color de fondo azul al pasar el mouse por encima */
}



</style>

<script>
    $(document).ready(function(){
        console.log("Iniciando script principal");

        $('.join-btn').on('click', function() {
    var currentText = $(this).text();
    if (currentText === 'Join') {
        $(this).text('Leave');
    } else {
        $(this).text('Join');
    }
});



    });
</script>


<br>
<br>

<div class="center-content">
    <div class="rectangle-container">
        <!-- Botones para las vistas de la comunidad -->
        <div class="community-button" data-btn="posts">
            <a href="#">Posts</a>
        </div>
        <div class="community-button" data-btn="trials">
            <a href="#">Trials</a>
        </div>
        <div class="highlight-line"></div> <!-- Línea de resaltado -->
    </div>
</div>


<div class="results-container" id="posts-results">
    {% include 'community_posts.html' %}
</div>
<div class="results-container" id="trials-results">
    {% include 'community_trials.html' %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let buttons = document.querySelectorAll('.community-button');
        let highlight = document.querySelector('.highlight-line');
        
        buttons.forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.preventDefault();
        
                // Mover la línea de resaltado
                let buttonRect = button.getBoundingClientRect();
                let containerRect = highlight.parentElement.getBoundingClientRect();
                highlight.style.left = (buttonRect.left - containerRect.left + window.pageXOffset) + "px";
                
                // Solicitar contenido AJAX
                fetchContent(button.dataset.btn);
            });
        });
        
        // Solicitar contenido para 'posts' por defecto al cargar la página
        fetchContent('posts');
    });
    
    function fetchContent(section) {
        let communityName = document.querySelector('.community-header').getAttribute('data-community-name');
        let url = `/r/${communityName}/${section}/`;

        // Agregar console.log para imprimir y verificar valores
        console.log("Nombre de la comunidad:", communityName);
        console.log("Sección seleccionada:", section);
        console.log("URL construida:", url);

        // Limpiar el contenido actual antes de hacer una nueva solicitud
        document.getElementById(section + '-results').innerHTML = "";

        $.ajax({
            url: url,
            method: 'GET',
            success: function(data) {
                document.getElementById(section + '-results').innerHTML = data;
                showResults(section + '-results');
            },
            error: function(err) {
                console.error(`Error al cargar el contenido de ${section}:`, err);
            }
        });
    }

    function showResults(resultType) {
        // Oculta todos los contenedores de resultados
        let allResults = document.querySelectorAll('.results-container');
        allResults.forEach(result => result.style.display = 'none');
        
        // Muestra el contenedor de resultados específico
        document.getElementById(resultType).style.display = 'block';
    }

</script>

    
    {% endblock %}
    